.tracker-list {
    margin-top: 20px;
}

.tracker-list label.btn {
    font-weight: bold;
}

.btn-outline-dark {
    color: #373A3C;
    border-color: #373A3C;
}

.btn-check:active+.btn-outline-dark, .btn-check:checked+.btn-outline-dark, .btn-outline-dark.active, .btn-outline-dark.dropdown-toggle.show, .btn-outline-dark:active {
    background-color: #373A3C;
    border-color: #373A3C;
}

.btn-check:hover+.btn-outline-dark {
    background-color: #373A3C;
    border-color: #373A3C;
}

.bg-dark {
    color: white;
    background-color: #373A3C !important;
}

.tracker-list-card  {
    border-radius: 5px;
    margin: 20px 1px 0px 1px;
    padding: 20px 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.most-expensive-card .label {
    text-align: left;
}

.most-expensive-card .item {
    text-align: right;
}

.top3-card {
    text-align: left;
}

.tracker-list-details {
    margin-top: 20px;
    margin-bottom: 20px;
}

.list-group-item {
    text-align: right;
    cursor: default !important;
}

.list-group-item .inline {
    display: inline-block;
}

.list-group-item .left {
    float: left;
}

.list-group-item button {
    margin-left: 20px;
    border-radius: 50%;
    font-size: 0.8em;
}

.list-group-item .badge {
    font-size: 0.9em;
    font-weight: normal;
}

.bg-success.amount-expense {
    background-color: #D9534F !important;
}

@media only screen and (max-width: 1399px) {
    .tracker-list label.btn {
        padding: 5px 34px;
    }

    .tracker-list .col-12 {
        margin-top: 10px;
    }

    .most-expensive-card .item {
        text-align: left;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1620px) {
    .tracker-list label.btn {
        padding: 5px 10px;
    }

    .tracker-list .col-12 {
        margin-top: 0px;
    }
}

@media only screen and (min-width: 1621px) {
    .tracker-list label.btn {
        padding: 5px 34px;
    }

    .tracker-list .col-12 {
        margin-top: 0px;
    }
}